@import '~@angular/material/theming';
.title {
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 0px transparent, 5px 5px 0px gray;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}
